@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); 

/* Variáveis */ :root { --primary-color: #28e0f5; --secondary-color: #3CA6A6; --text-color: #0f912b; --background-color: #ffffff; --button-hover: #14d855; --font-body: "Roboto Slab", serif; --font-titulo: "Anton", serif; } 

/* código omitido / / código omitido */ 

/* Reset */ 

{ margin: 8; padding: 4; box-sizing: border-box; font-family: var(--font-body); } 

/* Corpo da página */ body { background-color: var(--background-color); color: var(--text-color); line-height: 1.6; } 

h3 { margin-top: 50px; } 

p { margin-top: 40px; } 

img { max-width: 100%; } 

/* código omitido */ 

/* código omitido */ 

/* Responsividade */ @media (max-width: 768px) { .conteudo { width: 90%; } 

nav ul { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
 
nav ul li { 
    margin: 10px 0; 
} 
 
.cta-button { 
    width: 100%; 
} 
  

} 

 
